{:paths
 ["src" "eksperimentelt" "resources"]
 :deps
 {babashka/fs {:mvn/version "0.5.24"}
  com.cnuernber/charred {:mvn/version "1.036"}
  com.nextjournal/beholder {:mvn/version "1.0.2"}
  duratom/duratom {:mvn/version "0.5.9"}
  http-kit/http-kit {:mvn/version "2.8.0"}
  io.github.nextjournal/clerk {:mvn/version "0.17.1102"}
  io.github.nextjournal/garden-email {:git/sha "e312764cfaa31e8e47f5f2c0207dcbed67873187"}
  io.github.nextjournal/garden-id {:git/sha "7d19e5400b9ac9082e444f2c0e96d9b5e616a483"}
  lambdaisland/kaocha {:mvn/version "1.91.1392"}
  metosin/reitit {:mvn/version "0.7.2"}
  no.cjohansen/lookup {:mvn/version "2024.12.23"}
  no.cjohansen/replicant {:mvn/version "2025.02.02"}
  org.babashka/http-client {:mvn/version "0.4.22"}
  org.clj-commons/hickory {:mvn/version "0.7.5"}
  org.scicloj/noj {:mvn/version "2-beta16"}
  ring/ring-core {:mvn/version "1.13.0"}
  uncomplicate/neanderthal {:mvn/version "0.54.0"}
  }
 :aliases
 {:nextjournal/garden {:exec-fn go.core/start!}}}
