{:paths
 ["src"]
 :deps
 {babashka/fs {:mvn/version "0.5.21"}
  hiccup/hiccup {:mvn/version "2.0.0-RC3"}
  http-kit/http-kit {:mvn/version "2.8.0"}
  io.github.nextjournal/clerk {:mvn/version "0.16.1016"}
  migratus/migratus {:mvn/version "1.5.6"}}
 :aliases
 {:nextjournal/garden {:exec-fn go.core/serve!}}}
